body, div, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.top {
    height: 128px;
    width: 100%;
    background-color: #8dc153;
}

.top > .top-area {
    height: 64px;
    width: 100%;
}

.top > .top-area .logo-area {
    background: url(/images/logo.png) center center no-repeat;
    float: left;
    width: 224px;
    height: inherit;
}

.top > .top-area .search-area {
    padding: 0 32px;
    height: inherit;
    float: left;
}

.top > .top-area .search-area input[type="text"] {
    height: 44px;
    background: #a0d468 url(/images/search.png) right center no-repeat;
    border: 0;
    min-width: 340px;
    float: left;
    margin-top: 10px;
    padding-left: 32px;
    color: white;
    padding-right: 64px;
}

.top > .top-area .client-area {
    padding: 13px 32px 0 64px;
    background: url(/images/client-area.png) 16px center no-repeat;
    float: right;
    height: inherit;
    font-family: 'Open Sans', sans-serif;
}

.top > .top-area .basket-area {
    padding: 13px 32px 0 64px;
    background: url(/images/basket.png) 16px center no-repeat;
    float: right;
    height: inherit;
    font-family: 'Open Sans', sans-serif;
}

.top > .top-area .basket-area:after {
    content: "";
    clear: both;
}

.top > .top-area .text-main {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}

.top > .top-area .text-sub {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.top > #mainMenu .mainmenu-area {
    height: 64px;
    width: 100%;
    padding-top: 32px;
}

.top > #mainMenu .mainmenu-area .main-item {
    color: black;
    padding: 0 24px;
    float: left;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}

.top > #mainMenu .mainmenu-area .main-item:hover {
    background-color: #a0d468;
    color: white;
}

.top > #mainMenu .mainmenu-area .main-item.selected {
    background-color: #a0d468;
    color: white;
}

.top > #mainMenu .submenu-area {
    background-color: #a0d468;
    color: white;
    line-height: 32px;
}

.top > #mainMenu .submenu-area .submenu-item {
    padding: 0;
    height: 32px;
    line-height: inherit;
    width: 160px;
}