body, div, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.top {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    width: 100%;
    background-color: #8dc153;
    z-index: 1;
}

.top-fix {
    clear: both;
}

.top > .top-area {
    width: 100%;
    height: 64px;
    width: 100%;
}

.top > .top-area .logo-area {
    background: url(/images/logo.png) center center no-repeat;
    float: left;
    width: 224px;
    height: inherit;
}

.top > .top-area .search-area {
    padding: 0 32px;
    height: inherit;
    float: left;
}

.top > .top-area .search-area input[type="text"] {
    height: 44px;
    background: #a0d468 url(/images/search.png) right center no-repeat;
    border: 0;
    min-width: 340px;
    float: left;
    margin-top: 10px;
    padding-left: 32px;
    color: white;
    padding-right: 64px;
}

.top > .top-area .client-area {
    padding: 13px 32px 0 64px;
    background: url(/images/client-area.png) 16px center no-repeat;
    float: right;
    height: inherit;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.top > .top-area .client-area:hover {
    background-color: #a0d468;
}

.top > .top-area .basket-area {
    padding: 13px 32px 0 64px;
    background: url(/images/basket.png) 16px center no-repeat;
    float: right;
    height: inherit;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.top > .top-area .basket-area:hover {
    background-color: #a0d468;
}

.top > .top-area .basket-area:after {
    content: "";
    clear: both;
}

.top > .top-area .text-main {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}

.top > .top-area .text-sub {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.top > #mainMenu .mainmenu-area {
    width: 100%;
    height: 64px;
    width: 100%;
    padding-top: 32px;
}

.top > #mainMenu .mainmenu-area .main-item {
    color: black;
    padding: 0 24px;
    float: left;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}

.top > #mainMenu .mainmenu-area .main-item:hover {
    background-color: #a0d468;
    color: white;
}

.top > #mainMenu .mainmenu-area .main-item.selected {
    background-color: #a0d468;
    color: white;
}

.top > #mainMenu .submenu-area {
    background-color: #a0d468;
    color: white;
    line-height: 32px;
    z-index: 2;
    width: 100%;
}

.top > #mainMenu .submenu-area .submenu-item {
    padding: 0;
    height: 32px;
    line-height: inherit;
    width: 160px;
    cursor: pointer;
}

.top > #mainMenu .submenu-area .submenu-item:hover {
    border-bottom: 3px solid #8dc153;
}

.top .toolbar-container,
.top .navigator-container {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 0;
}
.top .toolbar-container .vendors-toolbar-panel,
.top .navigator-container .vendors-navigator-panel {
    border-bottom: 1px solid #e0e0e0;
    height: 48px;
    line-height: 48px;
    width:100%;
}
.toolbar-buttons {
    height: inherit;
    line-height: inherit;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0;
}

.button.toolbar {
    box-sizing: border-box;
    padding: 0 12px;
    border: 0;
    border-right: 1px solid #e0e0e0;
/*    border-bottom: 1px solid #e0e0e0;*/
    height: inherit;
    line-height: inherit;
    background-color: white;
    margin: 0;
    cursor: pointer;
    background-position: 12px center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #e0e0e0;
}
.button.toolbar:hover {
    background-color: #f6f6f6;
}
.button.toolbar.add {
    text-indent: 28px;
    background-image: url(/images/toolbar-button-add.png);
}
.button.toolbar.edit {
    text-indent: 28px;
    background-image: url(/images/toolbar-button-edit.png);
}
.button.toolbar.remove {
    text-indent: 28px;
    background-image: url(/images/toolbar-button-remove.png);
}
.button.toolbar.view {
    text-indent: 28px;
    background-image: url(/images/toolbar-button-view.png);
}
.button.toolbar.toolbars-menu {
    width: 48px;
    background-image: url(/images/hamburger-menu.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.toolbar-menu-items {
    z-index: 3;
    left: 0;
    top: 48px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}
.toolbar-menu-items .item {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}
.toolbar-menu-items .item.last {
    border: 0;
}
.toolbar-sort {
    height: 48px;
    line-height: 48px;
    border-left: 1px solid #e0e0e0;
}

.breadcrumbs {
    height: 48px;
    line-height: 48px;
}

.breadcrumbs .crumb {
    height: 48px;
    line-height: 48px;
    padding: 0 12px;
    font-weight: 600;
}

.breadcrumbs .crumb>a {
    color:black;
}

.breadcrumbs .crumb.arrow {
    padding: 0;
    font-weight: 300;
}

.breadcrumbs .crumb.last {
    padding: 0 12px;
    font-weight: 300;
    color:#868686;
}

.paginator {
    height: 48px;
    line-height: 48px;
}
.paginator .page {
    width: 48px;
    border-left: 1px solid #e0e0e0;
    cursor: pointer;
}
.paginator .page:hover {
    background-color: #f6f6f6;
}
.paginator .page.selected {
    background-color: #f6f6f6;
}

.sort.desc {
    text-indent: 20px;
    background-image: url(/images/arrow-down.png);
    background-position: 12px center;
    background-repeat: no-repeat;
}

.sort.asc {
    text-indent: 28px;
    background-image: url(/images/arrow-up.png);
    background-position: 12px center;
    background-repeat: no-repeat;
}